{% extends "layout.html" %}

{% block content %}
    <h1>{% block title %} About Me {% endblock %}</h1>
    <p>Bachelor of Engineering – BE, Computer Science.</p>
    <p class="lead">I am a Software Engineer and I graduated from National Technology University in Argentina, and I certified knowledge of Web Development through a specialization at the University of Michigan on Coursera.</p>
    <p class="lead">For many years I developed my professional career in the Telecommunications and Internet Service Providers sector where I worked leading technical and commercial work teams.</p>
    <p class="lead">Always linked to software development, for several years I am implementing websites and systems using the WordPress ecosystem.</p>
    <p class="lead">At the moment, I teach software programming at pre-university level as a remote lecturer.</p>
{% endblock %}
