{% extends "layout.html" %}

{% block content %}
    <h1>{% block title %} Hello World {% endblock %}</h1>
    <p class="lead">A "Hello, world!" program is generally a computer program that outputs or displays the message "Hello, world!".</p>
    <p class="lead">A small piece of code in most general-purpose programming languages, this program is used to illustrate a language's basic syntax.</p>
    <p class="lead">"Hello, world!" programs are often the first a student learns to write in a given language, and they can also be used as a sanity check to ensure computer software intended to compile or run source code is correctly installed, and that its operator understands how to use it.</p>
    <p class="lead">
      <a href="/blog" class="btn btn-lg btn-primary fw-bold border-blue bg-blue">Learn more on my Blog</a>
    </p>
{% endblock %}
